.button {
    width: 150px;
    height: 35px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    @include doubleBorder($color-dark, .5px, 5px, #fff);
}

.button--black {
    font-weight: bold;
    color: #fff;
    @include doubleBorder(#fff, .5px, 5px, lighten($color-dark, 33%));
}

.button__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__icon {
    font-size: .8em;
    margin-left: 10px;
    margin-right: -0.8rem;
}
