.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category--hidden {
    display: none;
}

.category__header {
    font-size: 42px;
    margin: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .75);
    text-align: center;
    font-weight: normal;
}

.category__productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.category__cateogryImage {
    width: 100%;
    height: 200px;
    border-left: 0;
    border-right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__categoryDescription {
    margin: 20px 30px;
    font-family: $plain-text-font;
    text-align: justify;
}

@media (min-width: $desktop) {
    .category__cateogryImage {
        height: 450px;
    }

    .category__header {
        font-size: 60px;
        margin: 0px;
    }

    .category__categoryDescription {
        font-size: 24px;
        max-width: 1200px;
    }
}
