.prices {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.prices__productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    border: .5px solid $color-dark;
    border-left: 0;
    border-right: 0;
    padding: 30px 0px;
    position: relative;
    &::after {
        content: " ";
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        bottom: -10px;
        border: .5px solid $color-dark;
        border-left: 0;
        border-right: 0;
        z-index: -1;
    }
}

.prices__header {
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
}

.prices__cakeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 130px;
    padding: 20px;
}

.prices__decoVisualization {
    width: 40px;
    transform: translateY(-100%);
    animation: drop_deco 1.5s ease-out forwards;
}

.prices__decoVisualization--hidden {
    display: none;
}

@keyframes drop_deco {
    20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-40%);}
    60% {transform: translateY(-20%);}
    90% {transform: translateY(-10%);}
}

.prices__cakeImage {
    width: 150px;
}

.prices__decoTypes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.prices__decoType{
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices__decoMiniature {
    width: 40px;
}

.prices__price {
    font-size: 40px;
}

.prices__priceDescription {
    font-size: 20px;
}

.prices__buttons {
    margin-top: 30px;
}

@media (min-width: $desktop) {
    .prices__productContainer {
        margin: 50px;
        padding: 30px 100px;
        @include doubleBorder;
    }

    .prices__cakeContainer {
        height: 220px;
        padding: 50px;
    }

    .prices__decoVisualization {
        width: 50px;
    }

    .prices__cakeImage {
        width: 200px;
    }

    .prices__decoMiniature {
        width: 50px;
    }

    .prices__buttons {
        display: flex;
    }
}
