.form__number {
    text-align: center;
    margin: 10px;
    width: 60px;
    height: 60px;
    border: 0;
    border-top: .5px solid $color-dark;
    border-bottom: .5px solid $color-dark;
    font-size: 24px;
    font-family: $basic-font;
}

.form__priceContainer--hidden {
    display: none;
}

.form__range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: .5px;
    background-color: $color-dark;
    outline: none;
    margin: 20px 0;
    width: 300px;
}

.form__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background: url('../img/cake.svg');
    cursor: pointer;
}

.form__range::-moz-range-thumb {
    -moz-appearance: none;
    width: 40px;
    height: 40px;
    background: url('../img/cake.svg');
    border: 0px solid transparent;
    border-radius: 0;
    cursor: pointer;
}

@supports (-ms-ime-align:auto) {
    .form__range {
        appearance: scrollbar;
        height: 50px;
        background: transparent;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &::after {
            content:  " ";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
        }
    }
}
