body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    position: relative;
    font-family: $basic-font;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@mixin animatedBottomBorder($delay) {
    &::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $color-dark;
        height: 1px;
        transform: scaleX(0);
        animation: stretchLine 1s $delay forwards;
    }
}

@keyframes stretchLine {
    to {
        transform: scaleX(1);
    }
}

@keyframes shrinkLine {
    to {
        transform: scaleX(0);
    }
}


@mixin animatedLinkBorder($borderColor) {
    position: relative;
    &::after {
        content: " ";
        width: 100%;
        border-bottom: 1px solid $borderColor;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: .15s ease-in;
        transform: scaleX(0);
    }
    &:hover::after {
        transform: none;
    }
}

@mixin fadeInAfterBird {
    opacity: 0;
    animation: fadeIn 1s 4s linear forwards;
}

@mixin doubleBorder($border-color: $color-dark, $border-width: 1px, $padding: 12px, $background-color: transparent) {
    position: relative;
    border: $border-width solid $border-color;
    background-color: $background-color;
    &::after {
        content: " ";
        position: absolute;
        background-color: #fff;
        top: -$padding; left: -$padding; right: -$padding; bottom: -$padding;
        border: $border-width solid $border-color;
        background-color: $background-color;
        z-index: -1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
