.menuToggler {
    z-index: 100;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    @include fadeInAfterBird;
}

.menuToggler__bar {
    border: .5px solid $color-dark;
    width: 100%;
    height: 4px;
    transition: all .3s;
}

// .menuToggler--clicked .menuToggler__bar1 {
//     transform: rotate(-45deg) translateX(-1.5px);
//     transform-origin: 100% 0%;
//     box-shadow: none;
// }
//
// .menuToggler--clicked .menuToggler__bar2 {
//     opacity: 0;
// }
//
// .menuToggler--clicked .menuToggler__bar3 {
//     transform: rotate(45deg) translateX(1.5px);
//     transform-origin: 100% 0%;
//     box-shadow: none;
// }

@media (min-width: $desktop) {
    .menuToggler {
        display: none;
    }
}
