.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    position: relative;
    border-bottom: .5px solid $color-dark;
}

.navBar--animated {
    border-bottom: 0;
    @include animatedBottomBorder(3500ms);
}

.navabar__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1440px;
    height: 100%;
    width: 100%;
}

.navbar__icons {
    width: auto;
}

.navbar__icons--desktop {
    display: none;
}

.navbar__icons--hidden {
    display: none;
}

@media (min-width: $desktop) {
    .navabar__container {
        justify-content: space-between;
    }

    .navbar__icons--desktop {
        display: flex;
    }

    .navbar__icons--mobile {
        display: none;
    }
}
