.nav  {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 30px;
    padding-top: 60px;
    top: 0;
    left: 0;
    background-color: #fff;
    list-style: none;
    transition: all .5s ease-in-out;
    z-index: 6;
    font-size: 20px;
    @include animatedBottomBorder(0ms);
}

.nav--hidden {
    top: calc(-100% - 120px);
    &::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $color-dark;
        height: .5px;
        transform: scaleY(1);
        animation: shrinkLine .5s forwards;
    }
}

.nav__item {
    margin-bottom: 1rem;
}

.nav__item--active {
    & > a {
        cursor: default;
        pointer-events: none;
        border-bottom: .5px solid $color-dark;
    }
}

.nav__item--socials {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.nav__link {
    color: inherit;
}


@media (min-width: $desktop) {
    .nav {
        position: static;
        display: flex;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .nav--hidden {
        top: 0px;
        &::after {
            content: "";
            display: none;
        }
    }

    .nav__item {
        margin: 0;
        margin-left: 20px;
        font-size: 28px;
        position: relative;
        @include animatedLinkBorder;
    }

    .nav__item--active {
        & > a {
            border: 0;
        }
        &::after {
            transform: none;
        }
    }
}
