.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 65px;
    position: relative;
}

.offer--folded {
    @include animatedBottomBorder(0ms);
}

.offer__container {
    display: grid;
    grid-template: auto/ auto;
    font-size: 30px;
    transition: all .1s linear;
}

.offer__container--folded {
    width: 80%;
    max-width: 1000px;
    grid-template: auto / 1fr 1fr;
    font-size: 20px;
}

.offer__square {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.offer__square--folded {
    flex-direction: row;
    padding: 10px;
}

.offer__draw {
    width: 25%;
}

.offer_header {
    margin: 10px;
    font-size: inherit;
    text-align: center;
}

@media (min-width: $desktop) {
    .offer {
        height: 80vh;
    }

    .offer--folded {
        height: 300px;
    }

    .offer__container--folded {
        display: flex;
    }

    .offer__square {
        justify-content: flex-end;
        font-size: 42px;
    }

    .offer__square--folded {
        flex-direction: column;
        font-size: 24px;
        & > .offer__draw {
            width: 100px;
        }
    }

    .offer__draw {
        width: 60%;
    }

    .offer_header {
        font-size: inherit;
    }

    .offer__container {
        grid-template: auto/ 1fr 1fr;
        grid-gap: 30px;
    }
}
