.onload__logo {
    z-index: 100;
    margin-right: auto;
    height: auto;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
}

@keyframes moveTheBird {
    to {
        top: -35px;
        left: calc(50vw - 170px);
        width: 200px;
    }
}

@media (min-width: $desktop) {
    .onload__logo {
        width: 100px;
    }
}
