.productsGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.productsGrid__cell {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
}

.productsGrid__cell--active {
    .productsGrid__cover {
        max-height: 100% !important;
        justify-content: flex-start !important;
        padding: 25px;
        margin: 0;
    }
    .productsGrid__button {
        opacity: 0 !important;
        max-height: 0;
    }
    .productsGrid__description {
        max-height: 100% !important;
    }
    .productsGrid__closeIcon {
        transform: none;
    }
}


.productsGrid__cover {
    max-height: 33%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    transition: all .2s ease-in;
}

.productsGrid__header {
    font-size: 24px;
    margin: 0;
    margin-bottom: 7px;
}

.productsGrid__button {
    background-color: #fff;
    padding: 5px 20px;
    border: .5px solid $color-dark;
    transition: all .2s ease-in;
}

.productsGrid__description {
    font-family: $plain-text-font;
    overflow: hidden;
    max-height: 0px;
    text-align: justify;
}

.productsGrid__closeIcon {
    display: flex;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 24px;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    transform: translateY(calc(-100% - 25px));
    transition: all .2s ease-in;
}

@media (min-width: $desktop) {
    .productsGrid {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1440px;
        justify-content: center;
    }

    .productsGrid__cell {
        margin: 20px;
        width: 350px;
        height: 350px;
        &:nth-child(2n) {
            align-items: flex-start;
        }
        &:hover > .productsGrid__cover {
            max-height: 150px;
            justify-content: center;
            .productsGrid__button {
                opacity: 1;
                max-height: 100%;
                padding: 7px 20px;
                margin-top: 10px;
            }
        }
    }

    .productsGrid__cell--active {
        .productsGrid__cover {
            background-color: rgba(255, 255, 255, .8);
        }
        &:hover > .productsGrid__cover {
            .productsGrid__button {
                max-height: 0;
                margin: 0;
                padding: 0;
            }
        }
    }

    .productsGrid__cover {
        max-height: 40px;
        margin: 50px 0px;
        background-color: rgba(255, 255, 255, .6);
        justify-content: center;
        padding: 0;
    }

    .productsGrid__header {
        font-size: 24px;
        letter-spacing: 4px;
        margin: 0;
    }

    .productsGrid__button {
        opacity: 0;
        max-height: 0;
        font-size: 20px;
        padding: 0;
    }

    .productsGrid__description {
        font-size: 20px;
    }
}
