body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative;
  font-family: "Amatic SC", cursive;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes stretchLine {
  to {
    transform: scaleX(1);
  }
}
@keyframes shrinkLine {
  to {
    transform: scaleX(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  position: relative;
  border-bottom: 0.5px solid #000;
}

.navBar--animated {
  border-bottom: 0;
}
.navBar--animated::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 1px;
  transform: scaleX(0);
  animation: stretchLine 1s 3500ms forwards;
}

.navabar__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  width: 100%;
}

.navbar__icons {
  width: auto;
}

.navbar__icons--desktop {
  display: none;
}

.navbar__icons--hidden {
  display: none;
}

@media (min-width: 768px) {
  .navBar {
    height: 100px;
  }

  .navabar__container {
    justify-content: space-between;
  }

  .navbar__icons--desktop {
    display: flex;
  }

  .navbar__icons--mobile {
    display: none;
  }
}
.socialIcon {
  width: 30px;
  height: 30px;
  position: relative;
}

.socialIcon__path {
  stroke: #000;
  stroke-width: 1px;
}

.socialIcon__g {
  cursor: pointer;
}

path {
  fill: #fff;
}

.socialIcon__path:hover > .socialIcon__backgroundPath--facebook {
  fill: #3b5998;
}

.socialIcon__path:hover > .socialIcon__backgroundPath--instagram {
  fill: url(#gradient) #ccc;
}

.socialIcon__path:hover > .socialIcon__backgroundPath--phone {
  fill: green;
}

.socialIcon__path path {
  stroke-opacity: 1;
  animation: draw 3s ease-in-out forwards;
}

@keyframes draw {
  to {
    /* stroke-dashoffset: 0; */
    stroke-dashoffset: 0;
  }
}
@media (min-width: 768px) {
  .socialIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
.nav {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 30px;
  padding-top: 60px;
  top: 0;
  left: 0;
  background-color: #fff;
  list-style: none;
  transition: all 0.5s ease-in-out;
  z-index: 6;
  font-size: 20px;
}
.nav::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 1px;
  transform: scaleX(0);
  animation: stretchLine 1s 0ms forwards;
}

.nav--hidden {
  top: calc(-100% - 120px);
}
.nav--hidden::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 0.5px;
  transform: scaleY(1);
  animation: shrinkLine 0.5s forwards;
}

.nav__item {
  margin-bottom: 1rem;
}

.nav__item--active > a {
  cursor: default;
  pointer-events: none;
  border-bottom: 0.5px solid #000;
}

.nav__item--socials {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.nav__link {
  color: inherit;
}

@media (min-width: 768px) {
  .nav {
    position: static;
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .nav--hidden {
    top: 0px;
  }
  .nav--hidden::after {
    content: "";
    display: none;
  }

  .nav__item {
    margin: 0;
    margin-left: 20px;
    font-size: 28px;
    position: relative;
    position: relative;
  }
  .nav__item::after {
    content: " ";
    width: 100%;
    border-bottom: 1px solid #000;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.15s ease-in;
    transform: scaleX(0);
  }
  .nav__item:hover::after {
    transform: none;
  }

  .nav__item--active > a {
    border: 0;
  }
  .nav__item--active::after {
    transform: none;
  }
}
.menuToggler {
  z-index: 100;
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.menuToggler--animated {
  opacity: 0;
  animation: fadeIn 1s 4s linear forwards;
}

.menuToggler__bar {
  border: 0.5px solid #000;
  width: 100%;
  height: 4px;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .menuToggler {
    display: none;
  }
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 4;
}

.cover--hidden {
  display: none;
}

.logo--footer {
  border: 1px solid red;
  width: 110px;
  height: 110px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  padding: 5px;
  position: relative;
  margin-top: 12px;
}
.logo--footer::after {
  content: " ";
  position: absolute;
  left: -10px;
  top: -10px;
  width: 128px;
  height: 128px;
  border: 1px solid #fff;
}

.logo__image {
  z-index: 100;
  margin-right: auto;
  height: auto;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
}

.logo__image--footer {
  width: 60px;
}

@media (min-width: 768px) {
  .logo--footer {
    width: 130px;
    height: 130px;
  }
  .logo--footer::after {
    left: -10px;
    top: -10px;
    width: 148px;
    height: 148px;
  }

  .logo__image {
    width: 90px;
  }

  .logo__image--footer {
    width: 80px;
  }
}
.slider {
  position: relative;
}

.slider__container {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  background-color: #fff;
  opacity: 0;
  animation: fadeIn 1s 1s linear forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.slider__slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__slide::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.slider__title {
  z-index: 2;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
}

.slider__slide--hidden {
  opacity: 0;
}

@media (min-width: 768px) {
  .slider__container {
    height: calc(100vh - 100px);
  }

  .slider__title {
    font-size: 72px;
  }
}
.logoCaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-top: 75px;
  position: absolute;
  top: -180px;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Libre Baskerville", serif;
  z-index: 10;
  width: 125px;
  height: 120px;
  background-color: #fff;
  border: 0.5px solid #000;
  border-top: 0;
  padding-bottom: 20px;
  animation: slideIn 0s linear forwards;
}
.logoCaption::after {
  position: absolute;
  top: 0;
  left: 10.25px;
  content: " ";
  width: 102.5px;
  height: 110px;
  background-color: transparent;
  border: 0.5px solid #000;
  border-top: 0;
  z-index: 2;
}

.logoCaption--animated {
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.logoCaption--hidden {
  animation: slideOut 0.5s linear;
}

.logoCaption__coverLink {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
}

.logoCaption__main {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  z-index: 8;
}

.logoCaption__main--small {
  font-size: 14px;
  margin: 0;
}

.logoCaption__sub {
  font-family: "Libre Baskerville", serif;
  font-size: 12px;
}

.logoCaption__sub--small {
  font-size: 10px;
  margin: 0;
  text-align: center;
}

@keyframes slideIn {
  to {
    transform: translateY(180px);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(180px);
  }
  to {
    transform: translateY(0px);
  }
}
@media (min-width: 768px) {
  .logoCaption {
    width: 185px;
    height: 170px;
  }
  .logoCaption::after {
    left: 10.25px;
    content: " ";
    width: 162.5px;
    height: 160px;
  }

  .logoCaption__main {
    font-size: 28px;
  }

  .logoCaption__main--small {
    font-size: 16px;
  }

  .logoCaption__sub {
    font-size: 18px;
  }

  .logoCaption__sub--small {
    font-size: 14px;
  }
}
.map {
  width: 100%;
  height: 40vh;
  margin: 0;
  border-bottom: 0.5px solid #000;
}

.contactData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.contactData__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
}

.contactData__icon {
  width: 1.5em;
  height: 1.5em;
}

.contactData__info--small {
  font-size: 0.6em;
  margin-top: 10px;
}

.contactData__address {
  font-size: 0.75em;
  margin-top: 10px;
}

.contactData__callLink {
  color: inherit;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .contactData__container {
    flex-direction: row;
    font-size: 46px;
  }

  .contactData__icon {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }

  .contactData__callLink {
    pointer-events: none;
    cursor: default;
  }
}
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 65px;
  position: relative;
}

.offer--folded::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 1px;
  transform: scaleX(0);
  animation: stretchLine 1s 0ms forwards;
}
.offer--folded .offer__container {
  width: 80%;
  max-width: 1000px;
  grid-template: auto/1fr 1fr;
  font-size: 20px;
}
.offer--folded .offer__square {
  flex-direction: row;
  padding: 10px;
}

.offer__container {
  display: grid;
  grid-template: auto/auto;
  font-size: 30px;
  transition: all 0.1s linear;
}

.offer__square {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offer__draw {
  width: 25%;
}

.offer_header {
  margin: 10px;
  font-size: inherit;
  text-align: center;
}

@media (min-width: 768px) {
  .offer {
    height: 80vh;
  }

  .offer--folded {
    height: 300px;
  }
  .offer--folded .offer__container {
    display: flex;
  }
  .offer--folded .offer__square {
    flex-direction: column;
    font-size: 24px;
  }
  .offer--folded .offer__square > .offer__draw {
    width: 100px;
  }

  .offer__square {
    justify-content: flex-end;
    font-size: 42px;
  }

  .offer__draw {
    width: 60%;
  }

  .offer_header {
    font-size: inherit;
  }

  .offer__container {
    grid-template: auto/1fr 1fr;
    grid-gap: 30px;
  }
}
.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category--hidden {
  display: none;
}

.category__header {
  font-size: 42px;
  margin: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-weight: normal;
}

.category__productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category__cateogryImage {
  width: 100%;
  height: 200px;
  border-left: 0;
  border-right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__categoryDescription {
  margin: 20px 30px;
  font-family: "Thasadith", sans-serif;
  text-align: justify;
}

@media (min-width: 768px) {
  .category__cateogryImage {
    height: 450px;
  }

  .category__header {
    font-size: 60px;
    margin: 0px;
  }

  .category__categoryDescription {
    font-size: 24px;
    max-width: 1200px;
  }
}
.prices {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.prices__productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  border: 0.5px solid #000;
  border-left: 0;
  border-right: 0;
  padding: 30px 0px;
  position: relative;
}
.prices__productContainer::after {
  content: " ";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: -10px;
  border: 0.5px solid #000;
  border-left: 0;
  border-right: 0;
  z-index: -1;
}

.prices__header {
  font-size: 36px;
  text-align: center;
  font-weight: lighter;
  margin-top: 0;
}

.prices__cakeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 130px;
  padding: 20px;
}

.prices__decoVisualization {
  width: 40px;
  transform: translateY(-100%);
  animation: drop_deco 1.5s ease-out forwards;
}

.prices__decoVisualization--hidden {
  display: none;
}

@keyframes drop_deco {
  20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40%);
  }
  60% {
    transform: translateY(-20%);
  }
  90% {
    transform: translateY(-10%);
  }
}
.prices__cakeImage {
  width: 150px;
}

.prices__decoTypes {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.prices__decoType {
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prices__decoMiniature {
  width: 40px;
}

.prices__price {
  font-size: 40px;
}

.prices__priceDescription {
  font-size: 20px;
}

.prices__buttons {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .prices__productContainer {
    margin: 50px;
    padding: 30px 100px;
    position: relative;
    border: 1px solid #000;
    background-color: transparent;
  }
  .prices__productContainer::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 1px solid #000;
    background-color: transparent;
    z-index: -1;
  }

  .prices__cakeContainer {
    height: 220px;
    padding: 50px;
  }

  .prices__decoVisualization {
    width: 50px;
  }

  .prices__cakeImage {
    width: 200px;
  }

  .prices__decoMiniature {
    width: 50px;
  }

  .prices__buttons {
    display: flex;
  }
}
.form__number {
  text-align: center;
  margin: 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 24px;
  font-family: "Amatic SC", cursive;
}

.form__number::-webkit-outer-spin-button,
.form__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__priceContainer--hidden {
  display: none;
}

.form__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1px;
  background-color: #000;
  outline: none;
  margin: 20px 0;
  width: 300px;
}

.form__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: url("../img/cake.svg");
  cursor: pointer;
}

.form__range::-moz-range-thumb {
  -moz-appearance: none;
  width: 40px;
  height: 40px;
  background: url("../img/cake.svg");
  border: 0px solid transparent;
  border-radius: 0;
  cursor: pointer;
}

@supports (-ms-ime-align: auto) {
  .form__range {
    appearance: scrollbar;
    height: 50px;
    background: transparent;
    cursor: pointer;
  }
  .form__range:focus {
    outline: none;
  }
  .form__range::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
  }
}
.products {
  font-family: "Thasadith", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products__productImage {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}

.products__productDescription {
  padding: 30px;
}

.products__header {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}

.products__readMore {
  margin-top: 20px;
  margin-right: 10px;
  font-weight: bold;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.products__readMoreLink:hover > .products__icon {
  animation: readMore 0.5s infinite alternate;
}

.products__icon {
  width: 30px;
  margin-left: 10px;
}

@keyframes readMore {
  to {
    transform: translateX(5px);
  }
}
@media (min-width: 768px) {
  .products {
    max-width: 1200px;
  }

  .products__product {
    flex-direction: row;
  }
  .products__product .products__productDescription::after {
    content: " ";
    position: absolute;
    left: -30px;
    transform: translateY(-50%);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #fff;
    top: 50%;
  }
  .products__product:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .products__product:nth-child(2n) .products__productDescription::after {
    display: none;
  }
  .products__product:nth-child(2n) .products__productDescription::before {
    content: " ";
    position: absolute;
    right: -30px;
    transform: translateY(-50%);
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fff;
    top: 50%;
  }

  .products__productImage {
    width: 50%;
    height: 500px;
    border: 0;
  }

  .products__productDescription {
    width: 50%;
    font-size: 20px;
    position: relative;
    text-align: justify;
  }

  .products__icon {
    width: 40px;
  }
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__section {
  margin: 10px;
}

.footer__section--social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 1rem 0;
  font-family: "Thasadith", sans-serif;
  font-size: 12px;
}

.footer__menu {
  padding: 0;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.footer__menuItem {
  margin: 0.5rem 0;
}

.footer__menuLink {
  position: relative;
}
.footer__menuLink::after {
  content: " ";
  width: 100%;
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: 0.15s ease-in;
  transform: scaleX(0);
}
.footer__menuLink:hover::after {
  transform: none;
}

.footer__icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.footer__socialLink:hover {
  color: inherit;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .footer {
    margin-top: 100px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1440px;
  }

  .footer__section {
    max-width: 280px;
    margin: 2rem;
  }

  .footer__socialLink--phone {
    display: none;
  }
}
.draw {
  fill: transparent;
  stroke: #000;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  animation: draw 2s ease-in-out forwards;
}

.draw--white {
  stroke: #fff;
  stroke-width: 4px;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.button {
  width: 150px;
  height: 35px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  position: relative;
  border: 0.5px solid #000;
  background-color: #fff;
}
.button::after {
  content: " ";
  position: absolute;
  background-color: #fff;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 0.5px solid #000;
  background-color: #fff;
  z-index: -1;
}

.button--black {
  font-weight: bold;
  color: #fff;
  position: relative;
  border: 0.5px solid #fff;
  background-color: #545454;
}
.button--black::after {
  content: " ";
  position: absolute;
  background-color: #fff;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 0.5px solid #fff;
  background-color: #545454;
  z-index: -1;
}

.button__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__icon {
  font-size: 0.8em;
  margin-left: 10px;
  margin-right: -0.8rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__hero {
  width: 100%;
  height: 33vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__hero--shop {
  background-image: url("../img/photos/shop.jpg");
}

.about__hero--team {
  background-image: url("../img/photos/team.jpg");
}

.about__header {
  font-size: 48px;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  width: 100%;
}

.about__description {
  max-width: 1000px;
  font-family: "Thasadith", sans-serif;
  text-align: justify;
  padding: 30px;
}

.about__film {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__smallImg {
  display: none;
  width: 100vw;
  margin: 10px -30px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.about__smallImg--mobile {
  display: block;
}

@media (min-width: 768px) {
  .about__hero {
    height: 45vh;
  }

  .about__header {
    font-size: 72px;
  }

  .about__description {
    font-size: 22px;
    font-weight: lighter;
  }

  .about__smallImg {
    display: block;
    height: 300px;
    width: 300px;
    border: 1px solid #000;
    margin: auto;
  }
}
.team {
  display: grid;
  grid-template: 1fr/auto;
  max-width: 1280px;
}

.team__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  padding-top: 20px;
  text-align: justify;
  border: 1px solid #777;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.team__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #000;
}

.team__name {
  font-size: 24px;
  margin: 10px;
}

.team__text {
  font-family: "Thasadith", sans-serif;
}

@media (min-width: 768px) {
  .team {
    grid-template: 1fr/1fr 1fr 1fr;
  }

  .team__text {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
