body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative;
  font-family: "Amatic SC", cursive;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@keyframes stretchLine {
  to {
    transform: scaleX(1);
  }
}
@keyframes shrinkLine {
  to {
    transform: scaleX(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  position: relative;
  border-bottom: 0.5px solid #000;
}

.navBar--animated {
  border-bottom: 0;
}
.navBar--animated::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 0.5px;
  transform: scaleX(0);
  animation: stretchLine 1s 3500ms forwards;
}

.navabar__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
  height: 100%;
  width: 100%;
}

.navbar__icons {
  width: auto;
}

.navbar__icons--desktop {
  display: none;
}

.navbar__icons--hidden {
  display: none;
}

@media (min-width: 768px) {
  .navabar__container {
    justify-content: space-between;
  }

  .navbar__icons--desktop {
    display: flex;
  }

  .navbar__icons--mobile {
    display: none;
  }
}
.socialIcon {
  width: 30px;
  height: 30px;
  position: relative;
}

.socialIcon__path {
  stroke: #000;
  stroke-width: 1px;
}

.socialIcon__g {
  cursor: pointer;
}

path {
  fill: #fff;
}

.socialIcon__path:hover > .socialIcon__backgroundPath--facebook {
  fill: #3b5998;
}

.socialIcon__path:hover > .socialIcon__backgroundPath--instagram {
  fill: url(#gradient) #ccc;
}

.socialIcon__path:hover > .socialIcon__backgroundPath--phone {
  fill: green;
}

.socialIcon__path path {
  stroke-opacity: 1;
  animation: draw 3s ease-in-out forwards;
}

@keyframes draw {
  to {
    /* stroke-dashoffset: 0; */
    stroke-dashoffset: 0;
  }
}
@media (min-width: 768px) {
  .socialIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}
.nav {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 30px;
  padding-top: 60px;
  top: 0;
  left: 0;
  background-color: #fff;
  list-style: none;
  transition: all 0.5s ease-in-out;
  z-index: 6;
  font-size: 20px;
}
.nav::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 0.5px;
  transform: scaleX(0);
  animation: stretchLine 1s 0ms forwards;
}

.nav--hidden {
  top: calc(-100% - 120px);
}
.nav--hidden::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 0.5px;
  transform: scaleY(1);
  animation: shrinkLine 0.5s forwards;
}

.nav__item {
  margin-bottom: 1rem;
}

.nav__item--active > a {
  cursor: default;
  pointer-events: none;
  border-bottom: 0.5px solid #000;
}

.nav__item--socials {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.nav__link {
  color: inherit;
}

@media (min-width: 768px) {
  .nav {
    position: static;
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    margin: 0;
    margin-left: 20px;
    font-size: 28px;
    position: relative;
  }
  .nav__item::after {
    content: " ";
    width: 100%;
    height: 0.5px;
    background-color: #000;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: ease-in-out 0.2s;
    transform: scaleX(0);
  }
  .nav__item:hover::after {
    transform: none;
  }

  .nav__item--active > a {
    border: 0;
  }
  .nav__item--active::after {
    transform: none;
  }
}
.menuToggler {
  z-index: 100;
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.menuToggler--animated {
  opacity: 0;
  animation: fadeIn 1s 4s linear forwards;
}

.menuToggler__bar {
  border: 0.5px solid #000;
  width: 100%;
  height: 4px;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .menuToggler {
    display: none;
  }
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 4;
}

.cover--hidden {
  display: none;
}

.onload__cover {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 900;
  display: none;
}

.onload__cover--animated {
  display: block;
  animation: removeBackground 1s 3s linear forwards;
}

.onload__logo {
  z-index: 1000;
  margin-right: auto;
  height: auto;
  position: absolute;
  top: -35px;
  left: calc(50vw - 170px);
  width: 200px;
}

.onload__logo--animated {
  left: 0;
  width: 60%;
  top: 35vh;
  animation: moveTheBird 1s 2s linear forwards;
}

@keyframes moveTheBird {
  to {
    top: -35px;
    left: calc(50vw - 170px);
    width: 200px;
  }
}
@keyframes removeBackground {
  to {
    opacity: 0;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .onload__logo {
    top: -35px;
  }

  .onload__logo--animated {
    top: 0;
  }
}
.slider {
  position: relative;
}

.slider__container {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  background-color: #fff;
}

.slider__slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__slide::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.slider__title {
  z-index: 2;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
}

.slider__slide--hidden {
  opacity: 0;
}

@media (min-width: 768px) {
  .slider__title {
    font-size: 72px;
  }
}
.logoCaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-top: 75px;
  position: absolute;
  top: -180px;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Libre Baskerville", serif;
  z-index: 10;
  width: 185px;
  height: 170px;
  background-color: #fff;
  border: 0.5px solid #000;
  border-top: 0;
  padding-bottom: 20px;
  animation: slideIn 0s linear forwards;
}
.logoCaption::after {
  position: absolute;
  top: 0;
  left: 10.25px;
  content: " ";
  width: 162.5px;
  height: 160px;
  background-color: transparent;
  border: 0.5px solid #000;
  border-top: 0;
  z-index: 2;
}

.logoCaption--animated {
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.logoCaption--hidden {
  animation: slideOut 0.5s linear;
}

.logoCaption__coverLink {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.logoCaption__main {
  font-size: 28px;
  z-index: 100;
}

@keyframes slideIn {
  to {
    transform: translateY(180px);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(180px);
  }
  to {
    transform: translateY(0px);
  }
}
.map {
  width: 100%;
  height: 40vh;
  margin: 0;
  border-bottom: 0.5px solid #000;
}

.contactData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.contactData__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
}

.contactData__icon {
  width: 1.5em;
  height: 1.5em;
}

.contactData__info--small {
  font-size: 0.6em;
  margin-top: 10px;
}

.contactData__address {
  font-size: 0.75em;
  margin-top: 10px;
}

.contactData__callLink {
  color: inherit;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .contactData__container {
    flex-direction: row;
    font-size: 46px;
  }

  .contactData__icon {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }

  .contactData__callLink {
    pointer-events: none;
    cursor: default;
  }
}
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 65px;
  position: relative;
}

.offer--folded::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height: 0.5px;
  transform: scaleX(0);
  animation: stretchLine 1s 0ms forwards;
}

.offer__container {
  display: grid;
  grid-template: auto/auto;
  font-size: 30px;
  transition: all 0.1s linear;
}

.offer__container--folded {
  width: 80%;
  grid-template: auto/1fr 1fr;
  font-size: 20px;
}

.offer__square {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offer__square--folded {
  flex-direction: row;
  padding: 10px;
}

.offer__draw {
  width: 25%;
}

.offer_header {
  margin: 10px;
  font-size: inherit;
  text-align: center;
}

@media (min-width: 768px) {
  .offer {
    height: 80vh;
  }

  .offer__square {
    justify-content: flex-end;
  }

  .offer__draw {
    width: 70%;
  }

  .offer_header {
    font-size: 42px;
  }

  .offer__container {
    grid-template: auto/1fr 1fr;
    grid-gap: 30px;
  }
}
.category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category--hidden {
  display: none;
}

.category__header {
  font-size: 48px;
  margin: 15px;
}

.category__productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category__productImage {
  width: 100%;
  height: 150px;
  border: 0.5px solid #000;
  border-left: 0;
  border-right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category__productDescription {
  margin: 20px 30px;
  font-family: "Thasadith", sans-serif;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
